/*Reset Basico*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor-primaria: #8E2424;
    --cor-secundaria: #101828;
    --cor-subtitulo: #3A404E;
    --cor-fundo: #ffffff;
    --cor-texto: #667085;
    --cor-preenchimento: #C31919;
    --fonte-principal: 'Inter', sans-serif;
}
    
body{
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6{
    color: var(--cor-subtitulo);
    font-weight: 600;
}

ul{
    list-style: none;
}


.navbar{
    display: flex;
    flex-direction: row; /*default pode ser tbm collum*/
    justify-content: space-around;
    align-items: center;
    padding: 20px 80px;
}

.logo{
    margin-right: 100px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    flex-grow: 1;
}

.nav-links a{
    text-decoration: none;
    color: var(--cor-texto);
    font-weight: 500;
}
.nav-btn{
    display: flex;
    flex-direction: row;
    gap: 1.0rem;
}


button {
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--cor-texto);
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;

}

.btn-solid{
    background-color: var(--cor-primaria);
    color: var(--cor-fundo);
}

/*section Sobre nós*/

#sobre-nos{
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 96px 0;
    align-self: stretch;
}

#sobre-nos h1{
    text-align: center;
    font-size: 48px;
    width: 620px;
    height: 60px;
    gap: 12px;
}
#sobre-nos h5{
    text-align: center;
    color: var(--cor-primaria);
    font-size: 16px;
    line-height: 24px;
}

#sobre-nos p{
    width: 790px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

/*section Métricas*/
#metricas{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 96px;
    padding: 0 80px;
}
.metrica{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 0 0;
}
.metrica h1{
    color: var(--cor-primaria);
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
}

.metrica h3{
    color: var(--cor-subtitulo);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.metrica p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}